<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="info" />
        </filter>
	</appender>

	<appender name="file_all" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/mj_all.log"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n"></param>
		</layout>
	</appender>
	
	<appender name="file_err" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="warn" />
		<param name="file" value="logs/mj_error.log"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n"></param>
		</layout>
	</appender>
	
	<appender name="file_info" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="info" />
		<param name="file" value="logs/mj_info.log"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info"/>
            <param name="LevelMax" value="info"/>
        </filter>
	</appender>
	
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="warn" />
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{ABSOLUTE} - %m%n"></param>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error" />
            <param name="LevelMax" value="error" />
        </filter>
    </appender>
	
	<root>
		<priority value="debug" />
		<appender-ref ref="file_all" />
		<appender-ref ref="file_err" />
		<appender-ref ref="file_info" />
		<appender-ref ref="console" />
		<appender-ref ref="stderr" />
	</root>

</log4j:configuration>  