name: Build & Test Java Project

on:
  push:
    branches: [ "master" ]
    paths:
      - "src/**"
      - "build.gradle.kts"
      - "gradle/**"
      - ".github/workflows/build.yml"
  pull_request:
    branches: [ "master" ]
    paths:
      - "src/**"
      - "build.gradle.kts"
      - "gradle/**"
      - ".github/workflows/build.yml"

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build and Test with Gradle
        run: ./gradlew build -x spotlessCheck
